.pages>button{
    display: inline-block;
    text-decoration: none;
    background-color: darkblue;
    color: snow;
    border: 2px solid midnightblue;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 30px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.pages{
    display: flex;
    justify-content: center;
    text-align: center;
}