.header{
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 30px;
}
.header a {
    color: snow;
    font-size: 32px;
    text-decoration: none;
}
.header a[class='active']{
    color: red;
    text-decoration: underline;
}
